#banner {
	width: 100%;
	height: 700px;
	background-image: url(../../img/banner_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	.inner {
		width: 380px;
		position: absolute;
		top: 110px;
		left: 390px;
		color: white;
		h2 {
			// position: absolute;
			// top: 90px;
			// left: 150px;

			font-size: 70px;
			// letter-spacing: 1.1px;
			margin-bottom: 30px;
		}

		h3,
		p,
		span {
			// position: relative;
			//position : absolute를 쓰면 글자 배치가 한곳에 겹쳐서 있음

			font-family: 'Pretendard-Regular';
			line-height: 1.2;
			margin-bottom: 7px;
			text-align: right;
		}
		p > span {
			font-weight: 600;
		}
		h3 {
			font-size: 30px;
		}
		img {
			position: absolute;
			top: 15px;
			left: 350px;
		}
	}
}
